<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand ml-5 mr-5 " routerLink="/home">
      <img width="250px" src="assets/images/michaelKoderLogo_white.svg" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse ml-auto text-center" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/home">ACCUEIL <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/projects">PROJETS <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/conception">CONCEPTION <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/graphisme">GRAPHISME <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="/contact">CONTACT <span
                class="sr-only">(current)</span></a>
          </li>
        </ul>
    </div>
  </nav>
</header>