header .navbar-nav .nav-item a{
    margin:10px 1.4rem 0;
} 
header .navbar-nav .nav-item a.active{
    text-decoration: underline;
} 
.headerTop a{
    font-size: 14px;;
}
header{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
} 