<footer class="container-fluid bg-dark">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 d-flex">
      <ul class="list-inline mx-auto justify-content-center mt-3">
        <li class="list-inline-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/politique-confidentialite">
            {{'footer.politic' | translate}}
          </a>
        </li>
        <li class="list-inline-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/mentions-legales">
            {{'footer.legal' | translate}}
          </a>
        </li>
        <li class="list-inline-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/conditions-generales-de-vente">
            {{'footer.conditions' | translate}}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row footerDown">
    <div class="col-2"></div>
    <div class="col-8 d-flex">
      <ul class="list-inline mx-auto justify-content-center">
        <li class="list-inline-item"> icons by <a target="_blank" href="https://icones8.fr">Icons8 </a></li>
      </ul>
    </div>

    <div class="col-2"></div>
  </div>

</footer>