<main role="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10 text-center mt-4 mb-4">
        <h1>PROJETS</h1>
        <h4>Voici quelques projets réalisés ces dernières années regroupés par types </h4>
      </div>
      <div class="col-1">
      </div>
    </div>

    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10">

        <div *ngFor="let projectGroup of projectList; let z =index">
          <h5>{{projectGroup.title}}</h5>
          <div class="row row-cols-1 row-cols-md-4 mt-3">


            <div *ngFor="let project of projectGroup.projects;let i =index" class="col mb-4">
              <div class="card h-100">
                  <a routerLink="/projects/{{z}}{{i}}" > 
                    <div id="project{{z}}{{i}}" class="text-right mt-n3 mr-n3 cursor-pointer" data-toggle="modal" (click)="openModal(project.name, project.description, project.logo)" data-target=".bd-example-modal-lg">
                      <i class="fas fa-info-circle fa-2x"></i>
                    </div>
                  </a>
                  <a href="{{project.url}}" target="_BLANK"> 
                    <img src="assets/images/projects/{{project.logo}}" class="card-img-top" alt="{{project.name}}">
                    <div class="card-body">
                      <h5 class="card-title">
                          {{project.name}}
                      </h5>
                      <p class="card-text">{{project.description}}</p>
                    </div>
                  </a>
              </div>

          </div>


        </div>
      </div>

    </div>
    <div class="col-1">
    </div>
  </div>
  </div>
</main>
<app-my-modal title="{{popinTitle}}" content="{{popinContent}}" imgSrc="{{popinSrc}}"></app-my-modal>