<main>
    <h1 class="text-center mt-5 mb-5"> FORMULAIRE DE CONTACT </h1>
    <div style="text-align:center">
        <form [formGroup]="angForm" (ngSubmit)="envoiMail()" class="container mt-4">
            <div class="row m-4">
                <div class="col-2"></div>
                <div class="col-3 text-right">
                    <label>
                        Nom :
                    </label></div>
                <div class="col-4">
                    <input type="text" id="name" name="name" class="form-control" required minlength="4"
                        formControlName="name">
                    <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="angForm.controls['name'].errors.required">
                            Votre nom est requis
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row m-4">
                <div class="col-2"></div>
                <div class="col-3 text-right">
                    <label>
                       Prénom :
                    </label></div>
                <div class="col-4">
                    <input type="text" id="firstName" name="firstName" class="form-control" required minlength="4"
                        formControlName="firstName">
                    <div *ngIf="angForm.controls['firstName'].invalid && (angForm.controls['firstName'].dirty || angForm.controls['firstName'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="angForm.controls['firstName'].errors.required">
                           Votré prénom est requis
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div><div class="row m-4">
                <div class="col-2"></div>
                <div class="col-3 text-right"><label>
                        Téléphone :
                    </label></div>
                <div class="col-4">
                    <input type="phone" id="phone" name="phone" class="form-control" required formControlName="phone" />
                    <div *ngIf="angForm.controls['phone'].invalid && (angForm.controls['phone'].dirty || angForm.controls['phone'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="angForm.controls['phone'].errors.required">
                            Le téléphone est requis.
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row m-4">
                <div class="col-2"></div>
                <div class="col-3 text-right"><label>
                        Email :
                    </label></div>
                <div class="col-4">
                    <input type="email" id="email" name="email" class="form-control" required formControlName="email" />
                    <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="angForm.controls['email'].errors.required">
                            L'Email est requis.
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row m-4">
                <div class="col-2"></div>
                <div class="col-3 text-right">
                    <label>
                        Titre du message :
                    </label>
                </div>
                <div class="col-4">
                    <input type="text" id="titreMessage" name="titreMessage" class="form-control" required
                        formControlName="titreMessage">
                    <div *ngIf="angForm.controls['titreMessage'].invalid && (angForm.controls['titreMessage'].dirty || angForm.controls['titreMessage'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="angForm.controls['titreMessage'].errors.required">
                            Titre de message est requis.
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row m-4">
                <div class="col-2"></div>
                <div class="col-3 text-right">
                    <label>Message : </label>
                </div>
                <div class="col-4">
                    <textarea class="w-100" formControlName="contactMessage" id="contactMessage" name="contactMessage"
                        class="form-control" formControlName="contactMessage" required></textarea>
                    <div *ngIf="angForm.controls['contactMessage'].invalid && (angForm.controls['contactMessage'].dirty || angForm.controls['contactMessage'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="angForm.controls['contactMessage'].errors.required">
                           Le message est requis.
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row m-4">
                <div class="col-4"></div>
                <div class="col-4 text-center">
                    <button type="submit" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success">
                        Envoyer
                    </button>
                </div>
                <div class="col-4"></div>
            </div>
        </form>
        <p>Form2 value: {{ angForm.value | json }}</p>
        <p>Form2 status: {{ angForm.status | json }}</p>
    </div>
</main>