<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <h1 class="text-center mb-4">MENTIONS LÉGALES
            </h1>
            <p>
                Conformément à l’art 6 de la loi du 21 juin 2004, pour la confiance dans l’économie numérique nous vous
                informons que ce service de communication au public en ligne est mis en place par :

            </p>
            <p>

                Editeur :<br>

                Michael Claude<br>
                11 av faidherbe<br>
                Le pré saint gervais 93310<br>
                France<br>
                Téléphone : 0689187985<br>
                SIREN : <a href="https://www.societe.com/etablissement/monsieur-michael-claude-51833719100036.html" target="_blank">51833719100036​</a><br>
            </p>
            <p>

                Directeur de la publication :<br><br>

                Michael Claude<br><br>

                Hébergeur<br><br>

                OVH<br>
                2 rue Kellermann<br>
                Roubaix59100<br>
                France<br>
                Téléphone : 0972101010<br><br>

                Politique de confidentialité<br><br>

                Nous nous engageons à ne collecter aucun renseignement personnel, d’aucune sorte que ce soit pendant
                votre visite sur ce
                site internet.

            </p>
            <p>
                <a href="https://www.donneespersonnelles.fr/" target="_blank">
                    Ce modèle de mentions légales est basé sur le modèle libre et gratuit de donneespersonnelles.fr
                </a>
            </p>
        </div>
    </div>
</div>







