<main>
    <section class="container mt-4">

        <div class="row mt-4 mb-5">
            <div class="col-1"></div>
            <div class="col-10 text-center">
                <h1>Quelques travaux de conception</h1>
            </div>
            <div class="col-1"></div>
        </div> 

        <div class="row mt-2">
            <div class="col-12 customSliderParentBox">
               
                <div class="row customSlider mt-4">
                    <div class="col-12 col-md-1 m-auto text-center">
                        <div (click)="prevSlide(sliders[0].slides.length)" class="customSliderCtrl">
                            <i class="fas fa-arrow-alt-circle-left fa-3x"></i>
                        </div>
                    </div>
                    <div class="col-12 col-md-10 m-auto text-center">
                        <h4 class="text-center">Conception</h4>
                        <div class="text-center mb-3">( slider codé à la main ) {{conceptionSliderPos+1}} / {{sliders[0].slides.length }}</div>
                        <div class="customSliderBox m-auto" *ngFor="let slide of sliders[0].slides;let i=index">
                            <img class="w-100" src="assets/images/graphisme/{{slide.url}}" [ngClass]="{'active' : conceptionSliderPos==i}">
                        </div>
                    </div>
                    <div class="col-12 col-md-1 m-auto text-center">
                        <div (click)="nextSlide(sliders[0].slides.length)" class="customSliderCtrl">
                            <i class="fas fa-arrow-alt-circle-right fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>