<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <h1 class="text-center mb-4">{{'SellConditionsTitle' | translate}}</h1>
            <br>
            <h3>{{'SellConditionsPage.Title1' | translate}}</h3>
            <p>
                {{'SellConditionsPage.Content1' | translate}}
            </p>
            <h3>{{'SellConditionsPage.Title2' | translate}}</h3>
            <p>
                {{'SellConditionsPage.Content2' | translate}}
            </p>
            <h3>{{'SellConditionsPage.Title3' | translate}}</h3>
            <p>
                {{'SellConditionsPage.Content3' | translate}}
            </p>
            <h3>{{'SellConditionsPage.Title4' | translate}}</h3>
            <p>
                {{'SellConditionsPage.Content4' | translate}}
            </p>
            <h3>{{'SellConditionsPage.Title5' | translate}}</h3>
            <p>
                {{'SellConditionsPage.Content5' | translate}}
            </p>
            <h3>{{'SellConditionsPage.Title6' | translate}}</h3>
            <p>
                {{'SellConditionsPage.Content6' | translate}}
            </p>
            <h3>{{'SellConditionsPage.Title7' | translate}}</h3>
            <p>
                {{'SellConditionsPage.Content7' | translate}}
            </p>
            <h3>{{'SellConditionsPage.Title8' | translate}}</h3>
            <p>
                {{'SellConditionsPage.Content8' | translate}}
            </p>
            <h3>{{'SellConditionsPage.Title9' | translate}}</h3>
            <p>
                {{'SellConditionsPage.Content9' | translate}}
            </p>
            <h3>{{'SellConditionsPage.Title10' | translate}}</h3>
            <p>
                {{'SellConditionsPage.Content10' | translate}}
            </p>
            <h3>{{'SellConditionsPage.Title11' | translate}}</h3>
            <p>
                {{'SellConditionsPage.Content11' | translate}}
            </p>
            <h3>{{'SellConditionsPage.Title12' | translate}}</h3>
            <p>
                {{'SellConditionsPage.Content12' | translate}}
            </p>
            <h3>{{'SellConditionsPage.Title13' | translate}}</h3>
            <p>
                {{'SellConditionsPage.Content13' | translate}}
            </p>
        </div>
    </div>


</div>







