<!-- Modal -->
<div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div [ngClass]="'modal-lg'? content=='moncv':'' " class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="content=='moncv'">

        <ngx-extended-pdf-viewer [src]="'assets/images/CLAUDE_MICHAEL_CV_2020_6.pdf'" useBrowserLocale="true" height="110vh" width="100%"></ngx-extended-pdf-viewer>
       
      </div>
      <div *ngIf="content!='moncv'" class="ml-4 mr-4 mb-5">
          <img width="100%" src="assets/images/projects/{{imgSrc}}"/> 
          {{content}}
      </div>
    </div>
  </div>
</div>