<main role="main">
  <section id="homeBox1" class="container-fluid pt-5 pb-5">
    <div class="row mb-2 ">
      <div class="col-1">
        <div class="col"></div>
      </div>
      <div class="col-10 pt-4 text-center">
        <h1>
          Développeur Intégrateur web front 
        </h1>
        <h5>(10 ans d’experience)</h5>
      </div>
      <div class="col-1">
      </div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 iconsBox text-center mt-5 ">

        <ul class="list-group-horizontal list-unstyled align-center">
          <li class="list-inline-item">
            <img src="assets/images/icons/icons8-angularjs.svg">
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons/icons8-react-native.svg">
          </li>
          <li class="list-inline-item">
            <i class="fab fa-vuejs fa-3x blackTxt"></i>
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons/icons8-html-5.svg">
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons/icons8-css3.svg">
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons/icons8-bootstrap.svg">
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons/icons8-javascript.svg">
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons/icons8-wordpress.svg">
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons/icons8-woocommerce.svg">
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons/icons8-php.svg">
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons/icons8-mysql.svg">
          </li>
        </ul>

      </div>
      <div class="col-2"></div>
    </div>
    <div class="row mb-3">
      <div class="col-2"></div>
      <div class="col-8 pt-3 text-center">
        Développeur intégrateur web depuis 10 ans en CDI et en freelance dans des entreprises parisiennes.<br> Je
        travail
        sur tous types de projets web, applications web, sites internet, applications mobiles.<br> J'ai travaillé
        plusieurs
        fois sur des problématiques de conception UI/UX, de la conduite de projet. <br> J'ai également réalisé plusieurs
        projets à l'aide des outils wordpress et woocommerce pour réaliser tous types de sites web pour des particuliers
        ou des entreprises.
        <div class="mt-5 mb-4">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">
            CONSULTER MON CV
          </button>
        </div>
      </div>
      <div class="col-2"></div>
    </div>

    <div class="row mb-3 technosBox mr-5 ml-5  w-50 m-auto">

      <div class="col-3 text-right nextTechBox mt-3">
        <div class="nextTech">
          <a href="#"><i class="fab fa-react "></i></a>
        </div>
      </div>

      <div class="col-6 text-center">
        <div class="currentTech">
          <a href="#"><i class="fab fa-angular "></i></a>
        </div>
      </div>

      <div class="col-3 text-left nextTechBox mt-3">
        <div class="nextTech">
          <a href="#"><i class="fab fa-vuejs "></i></a>
        </div>
      </div>
    </div>


    <div class="row mb-3 mt-4">
      <div class="col-12 col-md-2"></div>
      <div class="col-12 col-md-8 text-center">
        <h5>
          Ce site internet à été développé avec Angular version 8 mais également avec REACT et VueJS.
          <br> Vous pouvez switcher avec les icones
        </h5>
      </div>
      <div class="col-12 col-md-2"></div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4"></div>
      <div class="col-12 col-md-4 iconsBox text-center mt-4 shareBox">
        <ul class="list-group-horizontal list-unstyled align-center">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/digikoder/" target="_BLANK">
              <img src="assets/images/icons/icons8-facebook.svg" />
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/michaelkoder/" target="_BLANK">
              <img src="assets/images/icons/icons8-git.svg" />
            </a>
          </li>
          <li class="list-inline-item">

            <a href="https://www.linkedin.com/in/digikoder/" target="_BLANK">
              <img src="assets/images/icons/icons8-linkedin.svg" />
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-4"></div>
    </div>
  </section>

  <section id="projetPro" class="container-fluid">

    <div class="row m-5">
      <div class="col-1"></div>
      <div class="col-10">
        <h2 class="text-center">PROJET PROFESSIONNEL</h2>
        <br>
        <p>
          <b>
            <h4>Recherche :</h4>
          </b> mission freelance ou CDI dans le développement ou l'intégration web front.
          <br>Travailler en équipe et monter
          en compétence sur les nouvelles technologies front comme Angular, ReactJS, Javascript ES6, VueJs par
          exemple.<br> J'ai également également intervenir sur de la conception UI/UX, de la conduite de projets,
          montage vidéo ou graphiques photoshop et sur les outils wordpress/woocommerce si necessaire.
        </p>

        <div class="row mt-5 ">
          <div class="col-12 col-md-6 d-inline-flex ">
            <b>
              <h4>Mobilité : </h4>
            </b>&nbsp;<p class="pt-1">Ile de France / France.</p>
          </div>
          <div class="col-12 col-md-6 d-inline-flex">
            <b>
              <h4>Disponibilitée : </h4>
            </b>&nbsp;<p class="pt-1">Immédiate.</p>
          </div>

        </div>

        <div class="row mt-4 ">
          <div class="col-12 col-md-3 text-left ">
            <b>
              <h4 class="pr-3">Tarifs : </h4>
            </b>
          </div>
          <div class="col-12 col-md-5 d-inline-flex text-left">
            <b>JTM Freelance <span class="mr-1">:</span> </b>
            Ile de France : 400-500 €.<br>
            Hors ile de France : 350-450 €.<br>
          </div>
          <div class="col-12 col-md-4">
            <b>CDI <span class="mr-1 ml-1">:</span></b> 50K et +
          </div>
        </div>

      </div>
      <div class="col-1"></div>
    </div>

  </section>

  <section class="pb-5">
    <div class="container ">
      <div class="row mt-4 pb-5">
        <div class="col-12 col-md-3 facebook-review-box">
          <div class="mr-1 ml-1 fb-box2 mt-3 w-100">
            <div class="fb-imgBox">
              <img
                src="https://platform-lookaside.fbsbx.com/platform/profilepic/?psid=3084228034925150&height=120&width=120&ext=1585933684&hash=AeSXgWFLkVfLRo8P" />

            </div>
            <h4>Benjamin Bottard</h4>
            <div class="fb-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="fb-avis">
              Très satisfait du travail de Michael qui a développé notre site avec notamment un module de
              personnalisation particulièrement complexe !
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3 facebook-review-box">
          <div class="mr-1 ml-1 fb-box2 mt-3 w-100">
            <div class="fb-imgBox">
              <img
                src="https://platform-lookaside.fbsbx.com/platform/profilepic/?psid=2484491674899580&height=120&width=120&ext=1586201441&hash=AeTXeBK760uMpOKB" />

            </div>
            <h4>Laure Ft</h4>
            <div class="fb-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="fb-avis">
              Je remercie pleinement Michael qui a été professionnel du début à la fin lors de notre session de travail.
              Je recommande les yeux fermés !
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3 facebook-review-box">
          <div class="mr-1 ml-1 fb-box2 mt-3 w-100">
            <div class="fb-imgBox">
              <img
                src="https://platform-lookaside.fbsbx.com/platform/profilepic/?psid=3011944315497849&height=120&width=120&ext=1586201441&hash=AeT65iTrN2Z7rx64" />

            </div>
            <h4>Dylan O Siochain</h4>
            <div class="fb-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="fb-avis">
              Top man, great skills and superb personality!
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3 facebook-review-box">
          <div class="mr-1 ml-1 fb-box2 mt-3 w-100">
            <div class="fb-imgBox">
              <img
                src="https://platform-lookaside.fbsbx.com/platform/profilepic/?psid=1957011357754505&height=120&width=120&ext=1586201441&hash=AeTBpmqgOCdMqZB5" />

            </div>
            <h4>Naderine de Kastelbajack IV</h4>
            <div class="fb-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="fb-avis">
              Michael est LE developpeur pour tous vos projets Web ! Je le conseille vivement !
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4 pb-5">
        <div class="col-12 col-md-2 ">
        </div>
        <div class="col-12 col-md-4 whiteTxt text-center ">
          Voir les autres témoignages >>
        </div>
        <div class="col-12 col-md-4 text-center mt-4 ">
          <a class="facebookBtn" href="https://www.facebook.com/digikoder" target="_blank">
            <i class="fab fa-facebook-f"></i>
            Page facebook
          </a>
        </div>
        <div class="col-12 col-md-2 ">
        </div>
      </div>
    </div>
  </section>


</main>
<app-my-modal title="CV Claude Michael Développeur Intégateur web Front" content="moncv" imgSrc="" popinLink="">
</app-my-modal>