<main role="main">
  <section id="homeBox1" class="container-fluid pt-5 pb-5 vh-100 ">
    <div class="row mb-2 ">
      <div class="col-1">
        <div class="col"></div>
      </div>
      <div class="col-10 pt-4">
        <h1 class="text-center">
          Développeur Intégrateur web front 10 ans d’xp
        </h1>
      </div>
      <div class="col-1">
      </div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 iconsBox text-center mt-5 ">

        <ul class="list-group-horizontal list-unstyled align-center">
          <li class="list-inline-item">
            <img src="assets/images/icons8-angularjs.svg">
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons8-react-native.svg">
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons8-html-5.svg">
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons8-css3.svg">
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons8-bootstrap.svg">
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons8-javascript.svg">
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons8-wordpress.svg">
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons8-woocommerce.svg">
          </li>
        </ul>

      </div>
      <div class="col-2"></div>
    </div>
    <div class="row mb-3">
      <div class="col-2"></div>
      <div class="col-8 pt-3 text-center">
        Développeur intégrateur web depuis 10 ans en CDI et en freelance dans des entreprises parisiennes.<br> Je
        travail
        sur tous types de projets web, applications web, sites internet, applications mobiles.<br> J'ai travaillé
        plusieurs
        fois sur des problématiques de conception UI/UX, de la conduite de projet. <br> J'ai également réalisé plusieurs
        projets à l'aide des outils wordpress et woocommerce pour réaliser tous types de sites web pour des particuliers
        ou des entreprises.
        <div class="mt-5 mb-5">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">
            CONSULTER MON CV
          </button>
        </div>
        <i>
          Ce site internet à été développé avec Angular version 8 mais également avec REACT et VueJS.
          <br> Vous pouvez switcher en haut a droite
        </i>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 iconsBox text-center mt-4">
        <ul class="list-group-horizontal list-unstyled align-center">

          <li class="list-inline-item">
            <img src="assets/images/icons8-facebook.svg">
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons8-git.svg">
          </li>
          <li class="list-inline-item">
            <img src="assets/images/icons8-linkedin.svg">
          </li>
        </ul>
      </div>
      <div class="col-4"></div>
    </div>
  </section>

  <section class="container ">

    <div class="row mt-5">
      <div class="col-1"></div>
      <div class="col-10">
        <h2 class="text-center">PROJET PROFESSIONNEL</h2>
        <br>
        <p>
          <b>
            <h4>Recherche :</h4>
          </b> mission freelance ou CDI dans le développement ou l'intégration web front. 
          <br>Travailler en équipe et monter
          en compétence sur les nouvelles technologies front comme Angular, ReactJS, Javascript ES6, VueJs par
          exemple.<br> J'ai également également intervenir sur de la conception UI/UX, de la conduite de projets,
          montage vidéo ou graphiques photoshop et sur les outils wordpress/woocommerce si necessaire.
        </p>

        <div class="row mt-5">
          <div class="col-4 d-inline-flex">
            <b>
              <h4>Mobilité : </h4>
            </b>&nbsp;<p class="pt-1">Ile de France / France.</p>
          </div>

          <div class="col-4 d-inline-flex">
            <b>
              <h4>Disponibilitée : </h4>
            </b>&nbsp;<p class="pt-1">Immédiate.</p>
          </div>

          <div class="col-4 d-inline-flex">
            <p>
              <b>
                <h4>Tarifs : </h4>
              </b>
              <b>JTM Freelance : </b><br>
              Ile de France : 400-500 €.<br>
              Hors ile de France : 350-450 €.<br>
              <b>CDI</b> : 50K et +
            </p>
          </div>
        </div>



      </div>
      <div class="col-1"></div>
    </div>

  </section>


</main>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">CV Claude Michael Développeur Intégateur web Front</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ngx-extended-pdf-viewer [src]="'assets/images/CLAUDE_MICHAEL_CV_2020_6.pdf'" useBrowserLocale="true"
        height="110vh" width="100%"></ngx-extended-pdf-viewer>

    </div>
  </div>
</div>